@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
*{
    box-sizing: border-box;
    max-height: 100%;
}

body{
    background-color: #B2B2B2aa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.dictionary{
    background-color: #FAF7F0;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    width: 80%;
    max-width: 570px;
    border-radius: 5%;
    border: 1px solid #000000;
    box-shadow: 10px 10px 1px #000000;
    color: #000000;
}
.loading{
    display:none;
}
.form{
    display: flex;
    border: 1px solid black;
    padding: 0.5em;
    height: 2.5em;
    border-radius: 2em;
    width: 80%;
    margin-left: 2em;
    font-weight: 700;
    box-shadow: 2px 2px 2px;
    background-color: #FAF7F0;
    justify-content: space-between;
}

input[type="search"]{
     border: none;
    margin: 0;
    padding: 7px 8px;
    background: inherit;

}


button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }

  input[type="search"]:focus,
  button[type="submit"] {
        border: none;
        outline: none;
        font-weight: bold;
        
  }

  .word{
    display: flex;
    align-items: center;
  }

  .word button{
    background-color: inherit;
    border-radius: 50%;
    outline: none;
    margin-right: 0.5em;
    cursor: pointer;
    height: 2.5em;
  }
  .word button :hover{
   font-size: large;
  }

.worddefine h4{
    margin: 0;
}

  .phonetic h2{
    margin-bottom: 0.3em;
    
  }

  .phonetic span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.wordclass{
    margin-top: 0.3em;
    font-family: 'IM Fell Great Primer', serif;
}

footer{
    margin-top: 2em;
  }

  footer a{
    color: inherit;
  }